<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.slsale.dao.role.RoleMapper">
	<resultMap type="role" id="roleIdAndRoleName">
		<result property="id" column="id"/>
		<result property="roleName" column="roleName"/>
	</resultMap>

	<select id="getRoleIdAndNameList" resultMap="roleIdAndRoleName">
		select * from au_role where isStart=1
	</select>
	
	<select id="getRoleList" resultType="role">
		select * from au_role 
	</select>
	
	<select id="getRoleR" resultType="role" parameterType="role">
		select * from au_role where roleCode = #{roleCode} or roleName = #{roleName}
	</select>
	<select id="getRole" resultType="role" parameterType="role">
		select * from au_role 
		<trim prefix="where" prefixOverrides="and | or">
			<if test=" id != null">
				and id = #{id}
			</if>
			<if test = "roleCode != null ">
				and roleCode = #{roleCode}
			</if>
		</trim>
	</select>
	
	<insert id="addRole" parameterType="role" >
		 insert into au_role (roleCode,roleName,createDate,createdBy,isStart) values (#{roleCode},#{roleName},#{createDate},#{createdBy},#{isStart})
	
	</insert>
	
	<update id ="modifyRole" parameterType="role">
		update au_role 
			 <set>
				 <if test="roleCode != null"> roleCode = #{roleCode},</if>
				 <if test="roleName != null"> roleName = #{roleName},</if>
				 <if test="createDate != null"> createDate = #{createDate},</if>
				 <if test="createdBy != null"> createdBy = #{createdBy}, </if>
				 <if test="isStart != null"> isStart = #{isStart}</if>
		     </set>
		  	where id = #{id}
	</update>
	
	<delete id ="deleteRole" parameterType="role">
		delete from au_role where id = #{id}
	</delete>
</mapper>